body {
  font-family: "Merriweather";
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

h1 {font-size: 48px;}
h2 {font-size: 38px;}
h3 {font-size: 28px;}

main {
  max-width: 100%;
  width: 800px;
  height: 60vh;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}

footer {
  background: #252428;
  height: 40vh;
  padding: 50px;
  box-sizing: border-box;
}

form {
  fieldset {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 10px;
    }
    select {
      display: none;
    }

    .selectGroup {
      .option {
        padding: 10px 20px;
        border: 1px solid #e8e8e8;
        display: inline-block;
        border-radius: 4px;
        cursor: pointer;
        transition-duration: .1s;

        &:hover {
          border: 1px solid #a79f9f;
          background: rgba(0,0,0,.05);
        }

        &.selected {
          background: hsl(180, 3%, 17%);
          color: white;
          border-color: black;
        }
      }
    }
  }
}
